body {
    background-color: midnightblue;
    color: linen;
    font-family: Arial, sans-serif;
    text-align: center;
}

.navbar {
    background-color: royalblue;

    padding: 10px;
}

.navbar a {
    margin: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.content {
    margin-top: 20px;
}

.small-img {
    width: 300px;
    height: auto;
    margin: 10px;
}
.large-img {
    width: 600px;
    height: auto;
    margin: 10px;
}
