body {
    background-image: url("../embroidery2.png");
    background-repeat: repeat; /* Tiling */
    background-color: lightgray;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}
table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    background-color: white;
}
th,
td {
    border: 1px solid linen;
    padding: 5px;
    background-color: saddlebrown;
    color: linen;
    text-align: center;
}
th {
    background-color: maroon;
    color: linen;
}
.content {
    max-width: 1500px; /* Adjust width as needed */
    min-height: 600px;
    margin: 20px auto; /* Center the content */
    background-color: darkgrey; /* Solid background behind text */
    padding: 20px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.navbar {
    background-color: darkgray;
    padding: 10px;
}

.navbar a {
    margin: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.small-img {
    width: 300px;
    height: auto;
    margin: 10px;
}
.large-img {
    width: 600px;
    height: auto;
    margin: 10px;
}
